html{
    overflow-y: scroll;
}

body {
    background: #7BAFD4;
    padding: 0px;
    margin: 0px;
    font-size:18px;
}

button {
    cursor: pointer;
}

.mainLoginDiv {
    width: 35%;
    margin: 0px auto;
    margin-top: 150px;
    background: #ffffff;
    color: #38688a;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    display: block;
    /* display: none; */
}

#login_error {
    color: red;
}

.mainLoginDiv button:hover {
    background: #fff;
    color: #38688a;
    background-color: mediumspringgreen;
    cursor: pointer;
  }
  
input, button {
    font-weight: 600;
    padding: 15px;
    color: #38688a;
    margin-bottom: 20px;
    width: 100%;
}

#main {
    margin-top: 1%;
    padding-top: 2.5%;
    border-top: 2px solid black;
}

#search {
    width: 92%;
    margin-left: 4%;
    margin-right: 10%;
    overflow: hidden;
}

#delete {
    width: 92%;
    margin-left: 4%;
    margin-right: 10%;
    overflow: hidden;
}

#searchbar {
    border: 1px solid black;
    float: left;
    width: 40%;
    height: 50px;
}

#addticker {
    border: 1px solid black;
    float: left;
    width: 5%;
    border-left: none;
    height: 50px;
}

#deletebar {
    border: 1px solid black;
    float: left;
    width: 40%;
    height: 50px;
    margin-left: 7%;
}

#deleteticker {
    border: 1px solid black;
    float: right;
    width: 5%;
    border-left: none;
    height: 50px;
    margin-right: 3%;
}

::placeholder{
    color:  #38688a;
    font-size: 125%;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#tickandsent {
    margin-top: 1%;
    padding-top: 2.5%;
    border-top: 2px solid black;
}

#tickandsent > div {
    height: 100%;
    border: 2px solid black;
}

#tickers {
    float: left;
    width: 44%;
    background-color: white;
    margin-left: 4%;
}

#sentiment{
    float: right;
    width: 44%;
    background-color: #e7e7e7;
    margin-right: 4%;
}

meter {
    width: 90%;
    margin-left: 5%;
    margin-top: 17px;
    margin-bottom: 35px;
}

.meter {
    border-bottom: 1px solid black;
    height: 52px;
    margin-top: 18px;
    border-top: 1px solid black;
    background-color: white;
}

.tick {
    text-transform: uppercase;
    background-color: #e7e7e7;
    color: black;
    padding: 15px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-left: 5px;
    text-align: center;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}