body {
    background: #7BAFD4;
    padding: 0px;
    margin: 0px;
    font-size:18px;
}

.mainLoginDiv {
    width: 35%;
    margin: 0px auto;
    margin-top: 150px;
    background: #ffffff;
    color: #38688a;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    display: block;
    /* display: none; */
}

#login_error {
    color: red;
}


.mainLoginDiv button:hover {
    background: #fff;
    color: #38688a;
    background-color: mediumspringgreen;
    cursor: pointer;
  }
  


input, button {
    font-weight: 600;
    padding: 15px;
    color: #38688a;
    margin-bottom: 20px;
    width: 100%;
}

#main {
    margin-top: 1%;
    padding-top: 2.5%;
    border-top: 2px solid black;
}

#search {
    width: 92%;
    margin-left: 4%;
    margin-right: 10%;
}

#searchbar {
    border: 1px solid black;
    margin-right: 10%;
}

#searchbutton {
    width: 5%;
}

::placeholder{
    color:  #38688a;
    font-size: 125%;
}

#tickandsent {
    margin-top: 2%;
}

#tickandsent > div {
    height: 400px;
    border: 1px solid black;
}

#tickers {
    float: left;
    width: 44%;
    background-color: white;
    margin-left: 4%;
    overflow: auto;
}

.ticker {
    background-color: gray !important;
    position: absolute;
}

#sentiment{
    float: right;
    width: 44%;
    background-color: white;
    margin-right: 4%;
}

meter {
    width: 90%;
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#meter {
    border-bottom: 1px solid black;
    height: 70px;
    background-color: black;
}