body {
    background: #7BAFD4;
    padding: 0px;
    margin: 0px;
    font-size:18px;
}

.mainLoginDiv {
    width: 35%;
    margin: 0px auto;
    margin-top: 150px;
    background: #ffffff;
    color: #38688a;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 15px;
    display: block;
    /* display: none; */
}


.mainLoginDiv button:hover {
    background: #fff;
    color: #38688a;
    background-color: mediumspringgreen;
    cursor: pointer;
  }
  


input, button {
    font-weight: 600;
    padding: 15px;
    color: #38688a;
    margin-bottom: 20px;
    width: 100%;
}